@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WeatherForecastWebApp</h1>
    <p asp-for="ErrorMessage">@Model.ErrorMessage</p>
    <form method="post">
        <p></p>
        <select name="countries" asp-page-handler="GetAllCountries">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <p></p>
        <select name="cities">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <p></p>
        <button class="get-weather" type="submit" asp-page-handler="GetWeatherToday">Get weather!</button>
        <p></p>
        <button class="clear-button" asp-page-handler="ClearWeather">Clear</button>
            <div asp-for="WeatherTodayList">
                <table>
                    <tr class="weather-today-table-head">
                        <th>CityName</th>
                        <th>Temperature</th>
                        <th>Scale</th>
                        <th>CountryName</th>
                    </tr>
                    @for (int i = 0; i < Model.WeatherTodayFrontEndList.Count(); i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(_ => _.WeatherTodayFrontEndList.ElementAt(i).CityName)</td>
                            <td>@Html.DisplayFor(_ => _.WeatherTodayFrontEndList.ElementAt(i).Temperature)</td>
                            <td>@Html.DisplayFor(_ => _.WeatherTodayFrontEndList.ElementAt(i).Scale)</td>
                            <td>@Html.DisplayFor(_ => _.WeatherTodayFrontEndList.ElementAt(i).CountryName)</td>
                        </tr>
                    }
                </table>
            </div>
    </form>
</div>
